[Unit]
Description=ComfyUI Service
After=network.target
OnFailure={{COMFY_SERVICE_NAME}}-notify.service

[Service]
Type=simple
User={{USER_NAME}}
WorkingDirectory={{COMFY_PATH}}
ExecStart={{PROJECT_ROOT}}/scripts/start-comfyui.sh
Restart=always
RestartSec=10
Environment=HOME=/home/{{USER_NAME}}
StandardOutput=append:{{LOG_DIR}}/comfyui.log
StandardError=append:{{LOG_DIR}}/comfyui-error.log

[Install]
WantedBy=multi-user.target